params {
    interproResults = "$baseDir/data/iprscan/aaegLVP_AGWG.tsv"
    proteome        = "$baseDir/data/fastas/aaegLVP_AGWG.fasta"
    outputDir       = "$launchDir/output"
    taxonId         = 7159
    abbrev          = "aaegLVP_AGWG"
    rulesheet       = "$baseDir/bin/rulesheet.tsv"
}

docker {
    enabled = true
}
